button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button {
    padding: 10px 20px;
    background-color: #e20b1d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}